/build/
/UpgradeLog.htm
/exam_adc.cflags
/exam_adc.config
/exam_adc.creator
/exam_adc.creator.user
/exam_adc.cxxflags
/exam_adc.files
/exam_adc.includes
/exam_adc.vcproj
/exam_adc.vcxproj.user
/exam_adc.rc
/exam_adc.vcxproj
/exam_adc.vcxproj.filters
/Makefile
/spd_dev.ini
/.vscode/
/.vs/
/fm816x250m/
/fm814x250m/
/xm416x250m/
/adm1624x128/
/fm816x250mi/
/fm416x100m/
/fm214x250m/
/adc214x200m/
/fm212x1g/
/adc212x200m/
/adc214x400m/
/adc214x10m/
/adcfm216x250mda/
/adc28x1g/
/adc818x800/
/adc1624x192/
/adc414x65m/
/Backup/
/fm814x125m/
/adc216x100m/
/fm412x500m/
/adc1612x1m/
